*{
    margin: 0px;
    padding: 0%;
    border:0px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:$c_blanco ;
}

.relleno{
    height:103px;
    width:100vw;
}

a{
    text-decoration: none;
}

/* FIN GENERAL */


/* BOTONES DE ENLACES */

.btnCta{
    display: inline-block;
    width: 196px;
    height: 40px;
    margin: 2px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
}
.naranja{
    border: 2px solid $c_naranja;
    background-color: $c_naranja;
    color: $c_grisOscuro;
    &:hover{
        font-weight: 500;
        background-color: $c_blanco;
        color: $c_naranja;
    } 
}
.celeste{
    border: 2px solid $c_celeste;
    background-color: $c_celeste;
    color: $c_blanco;
    &:hover{
        font-weight: 500;
        background-color: $c_blanco;
        color: $c_celeste;
    } 
}
.verde{
    border: 2px solid $c_verdeOscuro;
    background-color: $c_verdeOscuro;
    color: $c_verdeClaro;
    &:hover{
        font-weight: 500;
        background-color: $c_verdeClaro;
        color: $c_verdeOscuro;
    } 
}




/* Animacion de Iconos de RRSS */
.icono{
    animation: float 5s ease-in-out infinite;
}

.riInstagram{
    animation-delay: 1s;
}
.riYoutube{
    animation-delay: 2s;
}

.riPinterest{
    animation-delay:3s;
}

@keyframes float {
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-15px);
    }
    100%{
        transform:translateY(0);
    }
}

/* FIN Animacion de Iconos de RRSS */
/* Animacion de Iconos canasta de cpompras */

@keyframes shake {
    10%{
        transform:rotate(15deg);
    }
    20%{
        transform:rotate(-15deg);
    }
    30%{
        transform:rotate(15deg);
    }
    50%{
        transform:rotate(0deg);
    }
}
/* FIN Animacion de Iconos canasta de cpompras */