*{
    margin: map-get($estilosGenerales,margenGeneral);
    padding: map-get($estilosGenerales,paddingGeneral);
    border:map-get($estilosGenerales,bordeGeneral);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:map-get($estilosGenerales,colorFondo) ;
}

.relleno{
    height:103px;
    width:100vw;
}

a{
    text-decoration: none;
}

/* FIN GENERAL */


/* BOTONES DE ENLACES */

.btnCta{
    display: inline-block;
    width: 196px;
    height: 40px;
    margin: 2px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
}

$botones:(naranja:$c_naranja,celeste:$c_celeste,verde:$c_verdeOscuro);

@each $bot,$bcolor in $botones{
    .#{$bot}{
        border: 2px solid $bcolor;
        background-color: $bcolor;
        color: $c_grisOscuro;
        &:hover{
            font-weight: 500;
            color: $bcolor;
            @if $bot=="verde"{
                background-color: $c_verdeClaro;
            }@else{    
                background-color: $c_blanco;
            }    
        }
    }
}

/* Animacion de Iconos de RRSS */
.icono{
    animation: float 5s ease-in-out infinite;
}

.riInstagram{
    animation-delay: 1s;
}
.riYoutube{
    animation-delay: 2s;
}

.riPinterest{
    animation-delay:3s;
}

@keyframes float {
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-15px);
    }
    100%{
        transform:translateY(0);
    }
}

/* FIN Animacion de Iconos de RRSS */
/* Animacion de Iconos canasta de cpompras */

@keyframes shake {
    10%{
        transform:rotate(15deg);
    }
    20%{
        transform:rotate(-15deg);
    }
    30%{
        transform:rotate(15deg);
    }
    50%{
        transform:rotate(0deg);
    }
}
/* FIN Animacion de Iconos canasta de cpompras */