/* PALETA DE COLORES PRINCIPALES  */

$c_blanco            :#FFFFFF;
$c_naranja           :#F75F05;
$c_celeste           :#307ABA;
$c_verdeClaro        :#CADAD0;
$c_verdeOscuro       :#45855D;
$c_grisOscuro        :#292929;
$c_negro             :#000000;
$c_grisClaro         :#bababa;

$estilosGenerales:(
    colorFondo:$c_blanco,
    margenGeneral: 0px,
    paddingGeneral: 0px,
    bordeGeneral: 0px,
);

